server:
  port: ${SERVER_PORT:8081}


spring:
  application:
    name: order-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:order_db}
    username: ${DB_USER:admin}
    password: ${DB_PASSWORD:admin}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

  cloud:
    openfeign:
      client:
        config:
          default:
            connect-timeout: 2000
            read-timeout: 5000


integration:
  payment-service:
    url: ${PGI_URL:http://localhost:8080}